{% extends 'base.html.twig' %}

{% block title %}Qualite index{% endblock %}

{% block body %}
    <h1>Qualite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>PrixQualite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for qualite in qualites %}
            <tr>
                <td>{{ qualite.id }}</td>
                <td>{{ qualite.nom }}</td>
                <td>{{ qualite.prixQualite }}</td>
                <td>
                    <a href="{{ path('app_admin_qualite_show', {'id': qualite.id}) }}">show</a>
                    <a href="{{ path('app_admin_qualite_edit', {'id': qualite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_qualite_new') }}">Create new</a>
{% endblock %}
