{% extends 'base.html.twig' %}

{% block title %}Film{% endblock %}

{% block body %}
    <h1>Film</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ film.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ film.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ film.description }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ film.genre }}</td>
            </tr>
            <tr>
                <th>AgeMinimum</th>
                <td>{{ film.ageMinimum }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ film.duree }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_film_index') }}">back to list</a>

    <a href="{{ path('app_admin_film_edit', {'id': film.id}) }}">edit</a>

    {{ include('admin_film/_delete_form.html.twig') }}
{% endblock %}
